@import "../../../../styles/variables.scss";

.root {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    svg {
        width: 119px;
        height: 119px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.temperature {
    font-size: 96px;
    font-weight: 500;
    color: $primary-color;
}

.day {
    font-size: 40px;
    color: var(#{--text-color-default});
}

.bottom {
    .time,
    .city {
        color: $base-color;
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
    }
}